.movieContainer {
    margin: 15px;
}

.movieInfoLoading {
    padding: 25px;
    height: 90vh;
    width: 99vw;
    position: absolute;
    top: 60px;
    background: white
}

.loadingLight {
    background: white;
}

.loadingDark {
    background: dimgrey;
}

.movieInfo {
    display: flex;
    column-gap: 20px;
}

.description {
    border-left: 3px solid black;
    padding-left: 25px;
}

.description p {
    font: 20px Tahoma;
}

.rating {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.genresContainer {
    display: flex;
    justify-content: flex-start;
    column-gap: 30px;
    margin: 25px;
}

.genre {
    text-align: center;
    width: 100px;
    height: 20px;
    background: gold;
    border-radius: 15px;
}

.otherInfo p {
    margin: 8px;
    font-size: 18px
}

.mediaContainer {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.mediaContainer img {
    width: 500px;
    height: 400px;
    border-radius: 15px;
}

.movieContainer button {
    position: absolute;
    right: 15px;
    top: 100px;
}

.companies {
    width: 30vw;
}

.companies h3 {
    margin: 0 0 5px 25px;
}

.company {
    padding: 3px 3px 3px 10px;
    background: gold;
    box-sizing: border-box;
    border: 2px solid black;
    margin-bottom: 2px;
    font-size: 18px;
}