.headerStyle {
    height: 80px;
    border-top: 3px solid coral;
    border-bottom: 5px solid coral;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.headerStyleLight {
    background: white;
}

.headerStyleDark {
    background: darkgray;
}
.navMenu {
    display: flex;
    justify-content: space-around;
    width: 50vw;
    border-right: 5px solid coral;
}

.headerStyle a {
   text-decoration: none;
    font-size: 25px;
    color: black;
}

.headerStyle a[class='active'] {
    font-weight: bold;
    color: #040710;
}

.switcher {
    display: flex;
    align-items: center;
    column-gap: 3px;
}

/*--------Checkbox--------*/
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 25px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.user {
    padding-top: 13px;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid coral;
    box-sizing: border-box;
}