.foundMoviesContainer {
    position: absolute;
    background: white;
    z-index: 2;
    color: red;
}

.foundMoviesContainer a {
    font-size: 15px;
    color: red;
    font-weight: normal;
    margin: 5px;
}